.sendBtn {
    background-color: rgb(25, 135, 84);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 15px;
    cursor: pointer;
}

.textInput {
    padding: 12px 15px;
    border-radius: 10px;
    border-width: 1px;
    font-size: 15px;

    flex-grow: 1;
}

.container {
    display: flex;
    margin-bottom: 20px;
}
